/* Nothing in here yet but I'm ready to be filled (pause) */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background: #1F2937;
}

.left {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

/* Hero styles */

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: initial;
}

/* Information styles */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.cube {
    border: solid 2px #3882F6;
    /* Rounded corners are created with the style below */
    border-radius: 20px;
    /* Looking to change these eventually (maybe with flex-basis in container? max/min-width/height?) */
    width: 200px;
    height: 200px;
}

/* Container styles */
.container {
    display: flex;
    gap: 32px;
}

/* Quote styles */
.quote {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

blockquote {
    display: flex;
    flex-direction: column;
}

blockquote > p {
    max-width: 820px;
}

/* Footer after the quote that has the quote author's name */
#quoteauthor {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

/* Only 1 image so far, might change it to ID name later on if I add another */
img {
    width: 500px;
    height: auto;
}

